body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

header {
    background-color: #d3d3d3;
}
header h1 {
    color: #0000FF;
}
header img {
    width: 10%;
}

nav {
    display: inline-block;
    width: 80%;
}


nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

main {
    background-color: #feff00;
    font-size: 18px;
}

footer {
    background-color: #d3d3d3;
}

/* li {
display: inline;
    width: 50%;
} */

h1 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #ffffff;
}

p {
line-height: 105%;;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
}

.grid img {
    width: 100%;
    margin: 5% 0%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}